[Desktop Entry]
Type=Application
Version=1.0
Name=SD-ON Tool Installer
Name[ru]=Установщик SD-ON Tool
Comment=Установка и удаление SD-ON Tool для Steam Deck
Comment[ru]=Установка и удаление SD-ON Tool для Steam Deck
Exec=bash -c 'cd "$(dirname "%k")" && ./install.sh'
Path=.
Icon=./payload/assets/icons/sd-on-tool.svg
Terminal=false
Categories=Utility;
StartupNotify=true
